In [1]:
import pandas as pd
import numpy as np

In [3]:
file = pd.read_csv('Wilson_disease_dataset.csv')
file.head()

,Name,Age,Sex,Ceruloplasmin Level,Copper in Blood Serum,Free Copper in Blood Serum,Copper in Urine,ALT,AST,Total Bilirubin,...,Neurological Symptoms Score,Psychiatric Symptoms,Cognitive Function Score,Family History,ATB7B Gene Mutation,Region,Socioeconomic Status,Alcohol Use,BMI,Is_Wilson_Disease
0,Daniel Perry,14,Female,9.341193,229.035586,NaN,144.987111,73.711588,72.047328,1.312437,...,5.078054,1,NaN,1,1,West,Low,False,25.219815,1
1,Lauren Luna,21,Female,9.149010,200.239637,16.153480,104.192937,25.896181,67.512312,0.221304,...,6.188963,0,96.844013,1,1,South,Medium,False,33.516525,1
2,Andrew Lewis,31,Male,9.768630,267.343650,14.373756,153.177037,45.918204,76.687723,3.533976,...,4.432626,1,69.162053,1,1,West,High,True,26.233051,1
3,Trevor Villegas,19,Male,11.915923,221.104453,4.326112,159.542682,53.625145,103.375310,1.549835,...,3.529333,1,77.317382,1,1,West,High,False,38.991556,1
4,John Mills,30,Female,9.500291,230.140212,23.433224,124.989992,68.076335,82.279210,3.895870,...,4.764693,0,70.502837,1,1,East,Low,True,32.787552,1